body {
  margin: 0;
}

h1 {
  margin-top: 0px;
}

.top {
  background-color: #CDF0EA;
}

.mid  {
  background-color: red;
  width: 200px;
  height: 200px;
}

.bot {
  background-color: blue;
  width: 200px;
  height: 200px;
}
